@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titan+One|Ledger|Lobster);

body {
  background-image:-webkit-linear-gradient(right,#1b1e24,#2c90c6 50%,#1b1e24);
  background-image:-moz-linear-gradient(right,#1b1e24,#2c90c6 50%,#1b1e24);
  background-image:-o-linear-gradient(right,#1b1e24,#2c90c6 50%,#1b1e24);
  background-image:-ms-linear-gradient(right,#1b1e24,#2c90c6 50%,#1b1e24);
  background-image:linear-gradient(to left,#1b1e24,#2c90c6 50%,#1b1e24); no-repeat center fixed;
  background-attachment: fixed; background-size: 100% 100%;/*overflow: hidden; */
  -webkit-font-smoothing: antialiased;}
::selection { 
  background: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 2 auto;
  
}
form {
  background-image:-webkit-linear-gradient(right,#1b1e24,#2c90c6 50%,#1b1e24);

}
/* Marco de la .nube */


 